
  <div class="panel panel-default">
    <div class="panel-body">ChainLab</div>
    <table class="table table-striped">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Status</th>
              <th scope="col">Branch</th>
              <th scope="col">Commit</th>
              <th scope="col">Pipeline ID</th>
              <th scope="col">Pipeline Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let job of jobs">
              <td>{{job.jobId}}</td>
              <td>{{job.status}}</td>
              <td>{{job.ref}}</td>
              <td>{{job.commit}}</td>
              <td>{{job.pipelineId}}</td>
              <td>{{job.pipelineStatus}}</td>
          </tr>
      </tbody>
  </table>
    <div class="panel-footer">copyright 2021</div>
  </div>

